body {
    font-family:Open Sans,Arial;
    color:#454545;
    font-size:16px;
    margin:2em auto;
    max-width:800px;
    padding:1em;
    line-height:1.4;
    text-align:justify;
    background-image: url("img/leboss.png"), url(img/le\ boss\ à\ lenvers.png);
    background-repeat:no-repeat, no-repeat;
    background-position: top left, top right;
    background-size: 35% 25%;;
}

div.fancyPositioning div.picture-left {
    float:left;
    width:40%;
    overflow:hidden;
    margin-right:1em
}
div.fancyPositioning div.picture-left img {
    width:100%
}
   div.fancyPositioning div.picture-left figure {
    margin:10px
}
div.fancyPositioning div.picture-left figure figcaption {
    font-size:.7em
}
div.fancyPositioning div.tleft {
    float:left;
    width:55%
}
div.fancyPositioning div.tleft p:first-child {
    margin-top:0
}
div.fancyPositioning:after {
    display:block;
    content:"";
    clear:both
}

blockquote::before {
    font-family: Times New Roman,Times,Arial;
    color: #666;
    content: open-quote;
    font-size: 2.2em;
    font-weight: 600;
    float: left;
    margin-top: 0;
    margin-right: .2rem;
    width: 1.2rem;
}

blockquote author {
    display: block;
    clear: both;
    font-size: .6em;
    margin-left: 2.4rem;
    font-style: oblique;
}

span.mfw {
    color: #730000;
}

span.foufoufou {
    color: #444;
    font-weight: 700;
}

span.foufoufou::before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-left: .2em;
    margin-right: .2em;
    background-color: #444;
}

span.foufivfoufivfoufiv::before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-left: .2em;
    margin-right: .2em;
    background-color: #454545;
}

span.foufivfoufivfoufiv {
    color: #454545;
    font-weight: 700;
}

ul li img {
    height: 1em;
}

p.fakepre {
    font-family: monospace;
    font-size: .9em;
}

a.kopimi img.kopimi {
    height: 2em;
}

a.kopimi, a.kopimi img.kopimi {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

span.wr {
    color: #c0392b;
    font-weight: 600;
    text-decoration: underline;
}

